@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <title>RoyalDine&trade; | Manager</title>
</head>
<body>
    @{
        int b = ViewBag.Bt;
        int l = ViewBag.Lt;
        int d = ViewBag.Dt;
        int total = b + l + d;
    }
    <nav class="nav navbar-default" style="background-color: maroon;">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="@Url.Action("Home", "Member")" style="color: whitesmoke;">RoyalDine&trade;</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="@Url.Action("Home", "Member")" style="color:white;">My Meal</a></li>
                <li><a href="@Url.Action("Home")" style="color:white;">Manager</a></li>
                <li><a href="@Url.Action("BazarSchedular")" style="color:white;">Schedules</a></li>
                <li><a href="@Url.Action("ReportViewer")" style="color:white;">Statistics</a></li>
                <li><a href="@Url.Action("Preferences")" style="color:white;">Preferences</a></li>
                <li><a href="@Url.Action("Logout")" style="color:white;">Logout (@ViewBag.ManagerName)</a></li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <div class="row" id="mealTab">
            @if (ViewBag.HomeResponse == "e")
            {
                <h4 class="text-danger">Something went wrong! Try again...</h4>
            }
            else
            {
                <div class="col-lg-12 col-md-12 col-sm-12">
                <h1>All Meal <span class="badge">@total</span></h1>
                <hr />
                <div style="padding-left:5px; padding-right:5px;">
                    <p><b>Today: <span class="text-warning">@ViewBag.Date</span> </b></p>                   
                    @if (total < 1)
                    {
                        <h4 class="text-danger">No meal has been placed today!</h4>
                    }
                    else
                    {
                        <div class="row">
                        <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="panel panel-info">
                        <div class="panel panel-heading">
                        <h4>Breakfast <span class="badge">@b</span></h4>
                        </div>
                        <div class="panel panel-body" style="padding-top:0px;">
                            @if (b < 1)
                            {
                                <h4 class="text-danger">No one wants to have breakfast!</h4>
                            }
                            else
                            {
                                <p class="text-success"><b>Members</b> <span class="badge">@ViewBag.Bm</span></p>
                                @Html.Raw(ViewBag.mB)
                                <p class="text-success" style="padding-top: 10px;"><b>Guest</b> <span class="badge">@ViewBag.Bg</span></p>
                            <button class="btn btn-warning" onclick="confirmRemovingAllB()">Cancel All</button>
                            }
                        <script>
                            function confirmRemovingAllB() {
                                var link = "@Url.Action("cancelAllBreakfast")";
                                $("#confmInfo").html("<p>Are you sure to cancel all breakfast?</p>"
                                                    + "<a class='btn btn-danger' data-ajax='true' data-ajax-success='serverResponse' href='" + link + "'>Yes</a>");
                                $("#confm").modal('show');
                            }
                        </script>

                        </div>
                        </div>
                        </div>

                        <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="panel panel-info">
                        <div class="panel panel-heading">
                        <h4>Lunch <span class="badge">@l</span></h4>
                        </div>
                        <div class="panel panel-body" style="padding-top:0px;">                        
                            @if (l < 1)
                            {
                                <h4 class="text-danger">No one wants to have lunch!</h4>
                            }
                            else
                            {
                                <p class="text-success"><b>Members</b> <span class="badge">@ViewBag.Lm</span></p>
                                @Html.Raw(ViewBag.mL)
                                <p class="text-success" style="padding-top: 10px;"><b>Guest</b> <span class="badge">@ViewBag.Lg</span></p>
                                <button class="btn btn-warning" onclick="confirmRemovingAllL()">Cancel All</button> 
                            }
                            <script>
                                function confirmRemovingAllL() {
                                    var link = "@Url.Action("cancelAllLunch")";
                                    $("#confmInfo").html("<p>Are you sure to cancel all lunch?</p>"
                                                        + "<a class='btn btn-danger' data-ajax='true' data-ajax-success='serverResponse' href='" + link + "'>Yes</a>");
                                    $("#confm").modal('show');
                                }
                            </script>
                        </div>
                        </div>
                        </div>
                        <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="panel panel-info">
                        <div class="panel panel-heading">
                        <h4>Dinner <span class="badge">@d</span></h4>
                        </div>
                        <div class="panel panel-body" style="padding-top:0px;">
                            @if (d < 1)
                            {
                                <h4 class="text-danger">No one wants to have Dinner!</h4>
                            }
                            else
                            {
                                <p class="text-success"><b>Members</b> <span class="badge">@ViewBag.Dm</span></p>
                                @Html.Raw(ViewBag.mD)
                                <p class="text-success" style="padding-top: 10px;"><b>Guest</b> <span class="badge">@ViewBag.Dg</span></p>
                            <button class="btn btn-warning" onclick="confirmRemovingAllD()">Cancel All</button>
                            }
                        <script>
                            function confirmRemovingAllD() {
                                var link = "@Url.Action("cancelAllDinner")";
                                $("#confmInfo").html("<p>Are you sure to cancel all lunch?</p>"
                                                    + "<a class='btn btn-danger' data-ajax='true' data-ajax-success='serverResponse' href='" + link + "'>Yes</a>");
                                $("#confm").modal('show');
                            }
                        </script>

                        </div>
                        </div>
                        </div>
                        </div>
                    }
                </div>
            </div>
            }
        </div>
    </div>
    <br />
    <br />
    <footer class="text-center">
        <hr />
        <p class="text-muted">Copyright &copy; 2018 Sanvi Tech</p>
    </footer>

    <script src="~/Scripts/managerhome.js"></script>
    <script src="~/Scripts/response.js"></script>

    <div class="modal fade" id="confm" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3>Confirmation</h3>
                </div>
                <div class="modal-body">
                <div id="confmInfo"></div>
                <div class="modal-footer"></div>
                </div>
                <script src="~/Scripts/response.js"></script>
            </div>
        </div>
    </div>
</body>
</html>
